* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Domaine Display;
}

a {
    text-decoration: none;
    color: black;
}


* {
    font-family: Proxima Nova, sans-serif;
    font-family: Domaine Display, Times New Roman, sans-serif;

}

.flexr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.color {
    color: #008565;
}

.com-name {
    font-size: 60px;
    color: #008565;
    font-family: Domaine Display;
}


.text {
    font: 1em sans-serif;
    margin: 0% 5px;
}


li {
    list-style: none;
    /* remove bullets */

}

.lable {
    text-align: center;
    background-color: #008565;
    color: white;
    font-size: 32px;

}

.ff {
    font-family: Proxima Nova;
}

.btn {
    background-color: #008565;
    color: white;
    font-size: medium;
}

nav section img {
    height: 60px;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 99;


}

.center {
    text-align: center;
}

.width-x {
    max-width: 80vw;
    margin: auto;
}

.septext {
    font-size: large;
    font-family: Domaine Display;

}

.text-xx {
    font-family: Domaine Display;
    font-size: 40px;
}

.text-xxx {
    font-size: 80px;
}

#section3 {
    width: 100%;
}

#section3 div {
    text-align: center;
    width: 20%;
    text-wrap: wrap;
    margin: 5vh 5vw;


}

#section3 div p {
    text-align: center;
    text-wrap: wrap;
}


#section3 div img {
    height: 100px;
    margin: auto;

}

/*css for nav =>user */

#box {
    display: none;
    position: absolute;
    flex-direction: column;
    left: 85%;
    height: 100px;
    width: 200px;
    background-color: #eeeeeeb3;
    box-shadow: 1px 2px 4px #33333381;
    border-radius: 5%;
    padding: 5px;

}

#box div {
    display: flex;
    height: 50%;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    /*box-shadow: 1px 2px 4px #33333381;*/


}

.sepcolor {
    color: #ee510c;
    font-weight: 500;
}

#box div img {
    height: 40px;
    width: 40px;
}



/*css of section 4 */
#sec4,
#sec4 .text-xx {
    margin-top: 5vh;


}

#sec4 .text-xx {
    margin-bottom: 3vh;
}


.card-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-items: start;
}

/* Style for individual cards */
.card {
    width: 338px;
    height: 240px;
    display: inline;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    box-shadow: 1px 2px 4px #04755be0;
    margin-bottom: 3vh;
}

.card:hover {
    scale: 1.1;
}

/* Style for card headings */
.card h2 {
    font-size: 1.5rem;
    margin-top: 0;
}

h2.color {
    margin-bottom: 5px;
}

/* Style for card content */
.card p {
    font-size: 1.2rem;
}



/*Section 6 Fotter section*/
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/*social media icons */
.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 36px;
}

.social-icons a:hover {
    color: #0077b5;
}